h1,h2{
  font-weight: 100;
}
.btn-white{
  color: #fff;
  border:1px solid #414141;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
}
.btn-secondary{
  margin-right: 5px;
}
.btn-white:hover{
  color: #fff;
}
.top-hero-wrapper{
  width: 100vw;
  height: 100vh;
  background: image-url('bg-top.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.top-hero-container{
  padding-top: 220px;
  h1{
    font-size: 56px;
    margin-bottom: 20px;
  }
  h2{
    margin-bottom: 60px;
  }
}
.form-control{
  height:45px;
}
.users-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container{
    margin-left: 370px;
    padding-top: 170px;
    .form-group{
      margin-bottom: 20px;
    }
  }
}
.alart{
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
    font-size: 50px;
  }

  img {
    height: 40px;
  }
}
.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}
.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .h4{
      padding-left: 10px;
    }
    .like-btn {
      color: #8899a6;
      padding-left: 10px;
      font-size: 32px;
    }
    .like-btn-unlike {
      color: #ff2581;
      padding-left: 10px;
      font-size: 32px;
    }
    .comment{
      color: #808080;
      padding-left: 10px;
      font-size: 32px;
    }
    .trash{
      color: #808080;
      font-size: 32px;
      float: right;
      padding-right: 10px;
    }
  }
}
.chat{
  text-align: center;
  margin-top: 80px;
h1{
  border-bottom: 1px solid gray;
}
}
#chat-frame {
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  padding: 1em 2em;
  background-color: #D8F3F0;
}
.chat-talk {
  font-size: 18px;
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0;
}
.chat-talk span {
  display: block;
  margin: 0;
  padding: 0;
}
.chat-talk .talk-icon {
  float: left;
  width: auto;
  margin-top: 10px;
}
.chat-talk .talk-content {
  position: relative;
  box-sizing: border-box;
  width: auto;
  min-height: 50px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto 0 70px;
  padding: 1em;
}
.chat-talk .talk-content:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #FFFFFF;
}
.talk-time {
  float: right;
  color: gray;
}